[submodule "Lib/EnvSwitcher"]
	path = Lib/EnvSwitcher
	url = git://github.com/angelxmoreno/CakePHP-Environment-Switcher.git
[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
