[submodule "Lib/EnvSwitcher"]
	path = Lib/EnvSwitcher
	url = git://github.com/angelxmoreno/CakePHP-Environment-Switcher.git
[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "Plugin/TwitterBootstrap"]
	path = Plugin/TwitterBootstrap
	url = https://github.com/angelxmoreno/TwitterBootstrap.git
[submodule "Vendor/facebook-php-sdk"]
	path = Vendor/facebook-php-sdk
	url = https://github.com/angelxmoreno/facebook-php-sdk.git
